Connected Services/BioEnWcf/WcfBioEn.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FunkcijaVrati">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FunkcijaVratiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunkcijaVratiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunkcijaVratiZaKorLi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ulaz" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsUlaz" Namespace="http://schemas.datacontract.org/2004/07/Data1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsUlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunkcijaVratiZaKorLiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunkcijaVratiZaKorLiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KorisnikPravoNaFunkciju">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ulaz" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsUlaz" Namespace="http://schemas.datacontract.org/2004/07/Data1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsUlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KorisnikPravoNaFunkcijuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KorisnikPravoNaFunkcijuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KorisnikPrijava">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ulaz" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsUlaz" Namespace="http://schemas.datacontract.org/2004/07/Data1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsUlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KorisnikPrijavaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KorisnikPrijavaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartLozinke">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KorisnickoImeUlaz" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LozinkaPocetnaUlaz" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartLozinkeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RestartLozinkeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KorisnikPromenaPodataka">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ulaz" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsUlaz" Namespace="http://schemas.datacontract.org/2004/07/Data1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsUlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KorisnikPromenaPodatakaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KorisnikPromenaPodatakaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KorisnikUnos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KorisnickoIme" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Prezime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Eposta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Telefon" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lozinka" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdUloga" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KorisnikUnosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KorisnikUnosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KorisnikVrati">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KorisnickoIme" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KorisnikVratiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KorisnikVratiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PromenaPravaKorisnika">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KorisnickoIme" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdUloga" type="xs:int" />
        <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PromenaPravaKorisnikaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PromenaPravaKorisnikaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipFunkcijeVrati">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipFunkcijeVratiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipFunkcijeVratiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UlogaVrati">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UlogaVratiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UlogaVratiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JedinicaMereVrati">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="JedinicaMereVratiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JedinicaMereVratiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JediniceMerePromenaPodataka">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ulaz" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsUlaz" Namespace="http://schemas.datacontract.org/2004/07/Data1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsUlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JediniceMerePromenaPodatakaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JediniceMerePromenaPodatakaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JMBrisi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ulaz" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsUlaz" Namespace="http://schemas.datacontract.org/2004/07/Data1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsUlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JMBrisiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JMBrisiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data1" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>